@font-face {
  font-family: LatoBold;
  src: url("../font/Lato-Bold.ttf");
}
@font-face {
  font-family: LatoReg;
  src: url("../font/Lato-Regular.ttf");
}
@font-face {
  font-family: RubikReg;
  src: url("../font/Rubik-Regular.ttf");
}
@font-face {
  font-family: YanoneReg;
  src: url("../font/YanoneKaffeesatz-Regular.ttf");
}
@font-face {
  font-family: RidleyReg;
  src: url("../font/RidleyGroteskDemo-Regular.otf");
}
@font-face {
  font-family: Montserat;
  src: url("../font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Trirong;
  src: url("../font/Trirong-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: Poiret;
  src: url("../font/PoiretOne-Regular.ttf");
}
@font-face {
  font-family: Heebo;
  src: url("../font/Heebo-Regular.ttf");
}
